/*whole page stuff*/
body{
	background-image:url('images/twinkle_twinkle.png');
}
div#containing_div{
	position:relative;
	width:80%;
	margin-right:auto;
	margin-left:auto;
}
/*end of whole page stuff*/

/*header stuff*/
div.Header{
	position:absolute;
	opacity:.7;
}
div#Header{
	display:inline;
	top:2.2em;
	width:100%;
	font-size:30;
	font-family:'Orbitron', sans-serif;
	color:#B3B3B3;
}
div#title_bar{
	width:82.75%;
	right:0em;
	top:7.3em;
	padding:.3em;
	padding-left:.4em;
	background: -moz-linear-gradient(top, #d1d1d1 0%, #B3B3B3 100%);
	border-style:solid;
	border-width:.02em;
	border-color:#3D3D3D;
	font-family:'Iceland', cursive;
	font-size:16;
	color:#0A0A0A;
}
/*end of header stuff*/

/*title/navigation stuff*/
ul li.Navigation{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:.7;
}
ul#top_navbar{
	top: -1em;
	margin-top:2.5em;
	min-height: 2em;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:.2em;
	border-color:#3D3D3D;
	padding-top:.5em;
}
li.navbar_buttons{
	display:inline;
	margin-right:3.75em;
}
a.nav_pg_link{
	text-decoration:none;
	color:#949494;
	font-family:'Iceland', cursive;
	font-size:23;
}
a.nav_pg_link:hover{
	color:#FF5400;
}
/*end of title/navigation stuff*/

/*content stuff*/
div.content{
	opacity:.7;
}
div#content_container{
	position:relative;
	display:block;
	margin-top:3em;
	padding-left:.5em;
	padding-top:1em;
	height:40em;
	background-color:#3D3D3D;
}
div.content_title{
	position:relative;;
	width:98.1%;
	padding:.1em;
	background: -moz-linear-gradient(top, #191919 0%, #0f0f0f 100%);
	border-style:solid;
	border-width:.01em;
	border-color:#080808;
	font-family:'Iceland', cursive ;
	font-size:26;
	color:#949494;
}
div.para_container{
	position:relative;
	margin-bottom:2.5em;
	margin-top:.4em;
	padding:.4em;
	width:97.5%;
	background-color:#B3B3B3;
	border-style:solid;
	border-width:.01em;
	border-color:#3D3D3D;
}
/*end of content stuff*/	