/*whole page stuff*/
body{
	background-image:url('images/twinkle_twinkle.png');
}
#containing_div{
	position:relative;
	width:85%;
	margin-right:auto;
	margin-left:auto;
}
.light_grad{
	background: #d1d1d1; /* Old browsers */
	background: -moz-linear-gradient(top, #d1d1d1 0%, #b3b3b3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#b3b3b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d1d1d1 0%,#b3b3b3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */
}
.dark_grad{
	background: #191919; /* Old browsers */
	background: -moz-linear-gradient(top, #191919 0%, #0f0f0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#191919), color-stop(100%,#0f0f0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #191919 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #191919 0%,#0f0f0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #191919 0%,#0f0f0f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #191919 0%,#0f0f0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
}
/*end of whole page stuff*/

/*header stuff*/
.Header{
	position:absolute;
}
#Header{
	display:inline;
	top:2.2em;
	font-size:30;
	font-family:'Orbitron', sans-serif;
	color:#D2D2D2;
	opacity:1;
}
em{
	color:#ff5400;
	font-style:normal;
}
#title_bar{
	width:63%;
	right:0em;
	top:7.6em;
	padding:.3em .3em .3em .4em;
	border-right:.5em solid #FF5400;
	border-left:.5em solid #FF5400;
	border-top:.01em solid #8C8C8C;
	border-bottom:.01em solid #8C8C8C;
	font-family:'Iceland', cursive;
	font-size:16;
	color:#121212;
	opacity:1;
}
/*end of header stuff*/

/*title/navigation stuff*/
.Navigation{
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#top_navbar{
	min-height:2em;
	max-height:4em;
	margin-top:3em;
	margin-bottom:3.25em;
	padding-top:.5em;
	border-top:.2em solid #3D3D3D;
	border-bottom:.2em solid #3D3D3D;
}
.navbar_buttons{
	display:inline-block;
	margin-right:2.25em;
	max-height:1em;
	color:#D2D2D2;
	font-family:'Iceland', cursive;
	font-size:23;
	opacity:1;
}
.navbar_buttons span{
	margin-left:1em;
	font-size:11;
}
.main{
	float:left;
	text-decoration:none;
	color:#D2D2D2;
	font-family:'Iceland', cursive;
	font-size:23;
	opacity:1;
}
.main:hover{
	color:#FF5400;
}

/*drop down menu stuff*/
input[type=radio]{
	position:absolute;
	top:-9999em;
	left:-9999em;
}
input[type=radio]:checked ~ ul{
	width:9em;
	position:absolute;
	display:block;
	z-index:5;
}
.drop_down{
	left:-1.75em;
	display:none;
	margin-top:1.4em;
	list-style:none;
}
.drop_down li{
	position:relative;
	background-color:#D2D2D2;
	border:.05em solid #8C8C8C;
	border-bottom:.01em solid #3D3D3D;
	color:#0f0f0f;
}
.menu:hover{
	background-color:#FF5400;
	list-style:none;
}
.sub{
	display:inline-block;
	padding:.3em .75em .3em .75em;
	text-decoration:none;
	color:#0f0f0f;
	font-family:'Iceland', cursive;
	font-size:18;
	opacity:1;
}
.menu span{
	margin:none;
	display:inline;
}
/*end of title/navigation stuff*/

/*content stuff*/
.content{
	position:relative;
}
#content_container{
	display:block;
	padding:1em;
	padding-bottom:.02em;
	background-color:#3D3D3D;
	-moz-box-shadow:inset 0 0 10px #191919;
    -webkit-box-shadow:inset 0 0 10px #191919;
    box-shadow: inset 0 0 10px #191919;
    margin-bottom: 3em;
}
.content_title{
	margin-bottom:.5em;
	padding:.1em;
	padding-left:.25em;
	border-left:.3em solid #FF5400;
	font-family:'Iceland', cursive ;
	font-size:26;
	color:#D2D2D2;
	opacity:1;
}
.para_container{
	margin-top:.4em;
	margin-bottom:2em;
	padding:.4em;
	background-color:#B3B3B3;
	border-style:.01em solid #3D3D3D;
}
.new_point{
	margin:.6em;
	padding:.4em;
	background-color:#D2D2D2;
	border:.01em solid #8C8C8C;
	border-bottom:.2em solid #3D3D3D;
	font-family:'Iceland', cursive;
	font-size:20;
	color:#0f0f0f;
}
.para{
	margin-top:0;
	margin-bottom:1em;
}
/*end of content stuff*/	

/*footer stuff*/
.footer{
}
#footer{
	position:relative;
	height:1.25em;
	padding:.3em .3em .3em .4em;
	border-right:.5em solid #FF5400;
	border-left:.5em solid #FF5400;
	border-top:.01em solid #8C8C8C;
	border-bottom:.01em solid #8C8C8C;
	font-family:'Iceland', cursive;
	font-size:16;
	color:#121212;
}
.footer_cont{
	font-family:'Iceland', cursive;
	font-size:16;
	color:#121212;;
}
#cont1{
	position:absolute;
	left:1em;
}
#cont2{
	position:absolute;
	right:1em;
}