body
	background-image url('images/twinkle_twinkle.png')

orange = #ff5400
white = #0f0f0f
ltgrey = #B3B3B3
grey = #3D3D3D
dkgrey = #D2D2D2

font = 'Iceland', cursive
black = #121212

ltgrad() 
	background: -moz-linear-gradient(top, #d1d1d1 0%, #b3b3b3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#b3b3b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d1d1d1 0%,#b3b3b3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */

dkgrad() 
	background: #191919; /* Old browsers */
	background: -moz-linear-gradient(top, #191919 0%, #0f0f0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#191919), color-stop(100%,#0f0f0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #191919 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #191919 0%,#0f0f0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #191919 0%,#0f0f0f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #191919 0%,#0f0f0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */

orangeborder(place, sz)
	border-place sz solid orange

border(place, sz)
	border-place sz solid grey

ltborder(place, sz)
	border-place sz solid ltgrey